// Header
$header-background-color: #111;
$header-top-background-color: #111;
$header-bottom-background-color: #111;
$menu-background-color: #111;

// Logo
$logo-color: #fff;
$logo-width: 70px;
$logo-height: 70px;

// Container grid
$container: 1200px;

// Font
$title-font: Arial, Helvetica, sans-serif;
$subtitle-font: Arial, Helvetica, sans-serif;
$text-font: Arial, Helvetica, sans-serif;

// Color
$primary-color: steelblue;
$secondary-color: skyblue;
$light-color: #f4f4f4;
$dark-color: #333;
$background-color: #fff;
$link-color: $secondary-color;

// text color
$title-color: $secondary-color;
$subtitle-color: $primary-color;
$text-color: #111;

// Footer
$footer-background-color: #111;
$footer-top-background-color: #111;
$footer-bottom-background-color: #111;
